<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div th:replace="fragments/header :: header(content='home')"></div>
    <div class="container bg-light border-dark rounded mt-2" id="#nasaInfo" style="text-align: center;">
      <h1 id="title"></h1>
      <p id="description"></p>
      <p id="date" class="text-secondary"></p>
    </div>
    <div id="nasaAPOD">

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(() => {
        console.log("page loaded");
        var key = 'MniKW37ghxNjpAtpOPukYledQl4LS89QcS79M4m3';
        $.ajax({
          type: 'GET',
          url: `https://api.nasa.gov/planetary/apod?api_key=${key}`,
          dataType: 'json',
          success: (data) => {
              console.log(data);
              var img = $('#nasaAPOD').html(`<img class="mx-auto d-block img-fluid" src="${data.url}"/>`);
              $('#nasaAPOD img').css("margin-left", "auto");
              $('#title').text(data.title);
              $('#description').text(data.explanation);
              $('#date').text(data.date);
          },
          error: (e) => {
              console.log(e)
          }
        });
      });
    </script>
  </body>
</html>
        
